@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* styles for the entire page, this is here to change
the colors of the highlighting */
*::selection {
    color: white;
    /*background-color: rgba(17, 88, 138, 0.602);*/
    background-color: rgb(26, 102, 174);
}

/*styles for the body element, this is here to 
aid in banner design*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*this is the second header, which serves as
essentially a title page. The goal is to stretch
it towards the entire width of the page. */
h1 {
    background-color: rgba(17, 33, 44, 0.9);
    margin: 0;
    padding: 70px; /*change the size of the banner*/
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Lexend';
    color: white;
    font-size: 3rem;
}

/*this is the footer banner, with the same 
goal as the above banner. */

h3 {
    background-color: rgba(17, 33, 44, 0.9);
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Lexend';
    color: white;
    font-size: 1.15rem;
}

/* this selects the image
element that is a child of 
the first anchor in the h3 element
the goal here is to resize the png
to make it a clickable link in the 
footer, and also space it correctly.*/
h3 a:nth-child(1) img {
    /*previously child 2*/
    width: 40px;
    height: 40px;
    margin-left: 92.5%;
    /* Adjust the margin as needed */
}

/*general rule for all links,
no underlining (automatic text
decoration and the color for 
the text is set to white*/
a {
    text-decoration: none;
    color: white;
}

/*hovering over the github image in the 
footer will change it's opacity*/
#github:hover {
    opacity: 0.85;
}

/* this is the header rules for the navbar,
this is also intended to be a banner that 
stretches across the full width of the page,
it contains links to the other pages of the site */
h4 {
    background-color: rgba(36, 51, 61, 0.9);
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Lexend';
    color: white;
    font-size: 1.15rem;
    word-spacing: 4rem;
}

/* (1) hovering over the link
titled home will lower the
opacity and also change the 
cursor to be a pointer, the reason
it is not automatically a pointer
is because it is housed within the
h4 tag. */
#gohome:hover {
    opacity: 0.85;
    cursor: pointer;
}

/* same intent as (1) */
#about:hover {
    opacity: 0.85;
    cursor: pointer;
}

/* same intent as (1) */
#sources:hover {
    opacity: 0.85;
    cursor: pointer;
}

/* link styling for the link
that will take the user to an 
alternate view of the image gallery. */
#nextlink{
    font-size: 1.25rem;
    text-decoration: underline;
    font-family: 'Lexend';
    
}

/* styling for the above link,
simply lowers the opacity. */
#nextlink:hover{
    opacity: 0.75;
}

/* ANIMATION 1 */
/* this is the start of the animation
the user can see when hovering over the navbar
links, it is repeated for all of the links.
It is a box going from the bottom to top of the link */
h4 a#sources {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#sources::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    /*background-color: rgb(47 71 94);*/
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#sources:hover::before {
    height: calc(100% + 20px);
}
/*ANIMATION 1 ends*/


/* ANIMATION 2 */
h4 a#gohome {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#gohome::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    /*background-color: rgb(47 71 94);*/
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#gohome:hover::before {
    height: calc(100% + 20px);
}
/*ANIMATION 2 ends*/


/* ANIMATION 3 */
h4 a#about {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#about::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#about:hover::before {
    height: calc(100% + 20px);
}
/* ANIMATION 3 ends */


/* ANIMATION 4 */
h4 a#gallery {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#gallery::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#gallery:hover::before {
    height: calc(100% + 20px);
}
/* ANIMATION 4 ends */

h4 a#gallery-slider {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#gallery-slider::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#gallery-slider:hover::before {
    height: calc(100% + 20px);
}

/* image slider */

html{
    /*fixes how the anchor snaps to the image! 
    Now snaps with some room on top for better viewing*/ 
    scroll-padding-top: 6rem; 
    /* scroll-padding-top: 75%;  */

}

/* .container{
    padding: 8rem; /*fully flesh with the rest of the page
    background-color: rgba(36, 51, 61, 0.75);
} */

/* .slider-wrapper{
    position: relative;
    max-width: fit-content;
    /*top and bottom is 0 left and right is auto, 
    which centers itself (left and right)
    margin: 0 auto; 
} */

/* .slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden; /*hide overflow
    /* scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    /*x offset, y offset, blur, spread, color*/ 
    /*hue saturation lightness opacity (alpha)
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0 0% 0% 0.25); 
    border-radius: 1rem; /*0.5rem;*/ /*make it rectangular to make it flesh with the page
} */

/* .slider img{
    flex: 1 0 100%; /*grow shrink basis*/
    /* scroll-snap-align: start;  
    object-fit: cover; /*fix distortion
} */


/* .slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: 1.25rem; /*from bottom*/ /*of image
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /*nav sits on top of slider
} */

/* .slider-nav a{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%; /*to make circular buttons
    background-color: white; /*make buttons white
    opacity: 0.85;
    transition: opacity ease 250ms; /*transition property
} */

/* 
 .slider-nav a:hover{
    opacity: 0.5;
} */

/* .slider-nav a:active{
    transform: scale(0.85);
}  */

img:hover{
    cursor: pointer;
    opacity: 0.85;
}

.container{
    display: grid;
    place-items: center;
}

img{
    /* width: 65%;
    height: auto; */

    display: inline;
    margin: 0 auto;
}

.photo-grid .card {
    background-size: cover; /* Scale the background image to cover the entire container */
    background-position: center; /* Center the background image within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}


.card{
    border: 2px solid white; /* Border width, style, and color */
    background-color: rgba(36, 51, 61, 0.9);
}

.card:hover{
    opacity: 0.85;
    cursor: pointer;
}

.photo-grid{
    display: grid;
    gap: 2rem;
    /* row-gap: 2rem; */
    /* margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; */
    padding: 2.5%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-auto-rows: 340px; */
    grid-auto-columns: 400px;
    grid-auto-rows: 300px;
    background-color: rgba(36, 51, 61, 0.75);
    color: white;

}

/* @media screen and (min-width: 600px)
{
    .card-tall{
        grid-row: span 2 / auto; /* start / end 
    }
    
    .card-wide{
        grid-column: span 2 / auto;
    }
} */
