@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

body {
    background-image: url("assets/globe.jpeg")
}

h1 {
    font-family: 'Noto Sans';
    font-size: 6rem;
    color: white;
    text-align: center;
    margin-top: 10rem;
}

p {
    font-family: 'Noto Sans';
    font-weight: 300;
    color: rgba(255, 255, 255, 0.825);
    max-width: 50%;
    font-size: 1rem;
    word-spacing: .25rem;
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: 0 4px 80px rgba(10, 10, 10, 0.8);
    padding: 30px;
    border-radius: 25px;
}

.main-paragraph {
    margin: auto;
    /*to center the div (main paragraph of content)*/
}

a {
    font-family: 'Noto Sans';
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    word-spacing: 0.25rem;
    padding: 7.5px 100px;
    border: 3px solid rgba(255, 255, 255, 0.85);
    /* Border color and width */
    border-radius: 50px;
    /* Optional: Add rounded corners */
    margin-right: 3rem;
    margin-left: 3rem;
}

a:hover {
    background-color: rgba(50, 50, 50, 0.65);
    border: 3px solid white;
}

.container-link {
    text-align: center;
}