@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*::selection {
    color: white;
    /*background-color: rgba(17, 88, 138, 0.602);*/
    background-color: rgb(26, 102, 174);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    background-color: rgba(17, 33, 44, 0.9);
    
    margin: 0;
    padding: 70px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Lexend';
    color: white;
    font-size: 3rem;
}

h3 {
    background-color: rgba(17, 33, 44, 0.9);
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Lexend';
    color: white;
    font-size: 1.15rem;
}


h3 a:nth-child(1) img {
    /*previously child 2*/
    width: 40px;
    height: 40px;
    margin-left: 92.5%;
    /* Adjust the margin as needed */
}

a {
    text-decoration: none;
    color: white;
}

#github:hover {
    opacity: 0.85;
}

h4 {
    background-color: rgba(36, 51, 61, 0.9);
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Lexend';
    color: white;
    font-size: 1.15rem;
    word-spacing: 4rem;
}

#gohome:hover {
    opacity: 0.85;
    cursor: pointer;
}

#about:hover {
    opacity: 0.85;
    cursor: pointer;
}

#sources:hover {
    opacity: 0.85;
    cursor: pointer;
}

h4 a#sources {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#sources::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    /*background-color: rgb(47 71 94);*/
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#sources:hover::before {
    height: calc(100% + 20px);
}

/*bottom to top*/

/*first animation ends*/

h4 a#gohome {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#gohome::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    /*background-color: rgb(47 71 94);*/
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#gohome:hover::before {
    height: calc(100% + 20px);
}

/*bottom to top*/

/*second animation ends*/

h4 a#about {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* Adjust the padding as needed */
}

h4 a#about::before {
    content: '';
    position: absolute;
    bottom: -10px;
    /* Adjust the distance from the bottom */
    left: -10px;
    /* Adjust the distance from the left */
    width: calc(100% + 20px);
    /* Adjust the width to cover the link with padding */
    height: 0;
    z-index: -1;
    background-color: rgb(26, 102, 174);
    transition: height 200ms ease-in-out;
}

h4 a#about:hover::before {
    height: calc(100% + 20px);
}

/*bottom to top*/

/*third animation ends*/


/* image slider */

.container{
    padding: 8rem; /*fully flesh with the rest of the page*/
    background-color: rgba(36, 51, 61, 0.75);
}

.slider-wrapper{
    position: relative;
    max-width: fit-content;
    margin: 0 auto; /*top and bottom is 0 left and right is auto, which centers itself (left and right)*/
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden; /*hide overflow*/
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0 0% 0% 0.25); /*x offset, y offset, blur, spread, color*/ /*hue saturation lightness opacity (alpha)*/
    border-radius: 0.75rem; /*0.5rem;*/ /*make it rectangular to make it flesh with the page*/
}

.slider img{
    flex: 1 0 100%; /*grow shrink basis*/
    /* scroll-snap-align: start;  */
    object-fit: cover; /*fix distortion*/
}


.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: 1.25rem; /*from bottom*/ /*of image*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /*nav sits on top of slider*/
}

.slider-nav a{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%; /*to make circular buttons*/
    background-color: white; /*make buttons white*/
    opacity: 0.85;
    transition: opacity ease 250ms; /*transition property*/
}


 .slider-nav a:hover{
    opacity: 0.5;
}

.slider-nav a:active{
    transform: scale(0.9);
} 

img:hover{
    cursor: pointer;
    opacity: 0.85;
}